

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include repond(sm-laptop) {
        font-size: 56.25%;
    }

    @include repond(tablet) {
        font-size: 50%;
    }
}

body {
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background: #fff;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    
}